@charset "utf-8";
.sub-inner {
  margin: 30px 0 78px;
}
#bo_cate {margin:15px 0 10px}
#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {;zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {display:inline-block;}
#bo_cate a {display:block;border:1px solid #dadada;background:#fff;margin:0 0 5px 0;line-height:30px;padding:0 10px;border-radius:3px}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none;background:#f3f3f3}
#bo_cate #bo_cate_on {z-index:2;
  border:1px solid #ddd;
  color:#333;
  font-weight:bold;
}

#faq_wrap {margin:10px 0 30px}
#faq_wrap h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.faq_admin {text-align:right}
#faq_wrap ol {margin:0;padding:0;list-style:none}
#faq_wrap li{border:1px solid #ddd;background:#fff;margin:5px 0;}
#faq_wrap li h3{
  min-height:50px;line-height:30px;padding:20px;padding-left:60px;position:relative}
#faq_wrap li h3 .tit_bg{
  display:inline-block;
  position:absolute;
  top:20px;
  left:20px;
  text-align:center;
  background:rgba(71,131,200,0.1);
  color:#4783c8;
  border-radius:50%;
  width:30px;
  height:30px;
  font-size: 14px;
  line-height: 28px;
}
#faq_wrap li h3 a {
  color: #555;
  font-size: 18px;
  text-align: justify;
}
#faq_con .con_inner{display:none;border-top:1px solid #ddd;padding:15px;padding-left:95px;position:relative;background: #f7f7f7;}
#faq_con .con_inner .tit_bg{
  display:inline-block;
  position:absolute;
  top:20px;
  left:50px;
  text-align:center;
  background:rgba(213,114,116,0.2);
  color:#d57274;
  border-radius:50%;
  width:30px;
  line-height:30px;
  height:30px;
  font-size: 14px;
  line-height: 28px;
}
#faq_con .con_inner .closer_btn{height:25px;font-size:0.92em;display:inline-block;padding:0 5px;border-radius:5px;}
#faq_con .con_closer{display: none;}

#faq_sch {text-align:center;border:1px solid #ccc;background:#fff;;padding:30px;margin:10px 0}
#faq_sch form{display:inline-block;position:relative}
#faq_sch .sch_tit{font-size:20px;font-weight:bold;display:inline-block;margin-right:10px;vertical-align:middle}
#faq_sch .frm_input{
  border-color:#ddd;
  border-radius:0;
  width:300px;
}
#faq_sch .btn_submit{
  padding:0 10px;
  height:40px;
  color:#333;
  font-size:15px;
  font-weight:bold;
  background:#fff;
  border:1px solid #ddd;
  border-radius: 0;
}
